body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url('/img/background.png') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(4px);
}
.background{
    background-color: rgba(255, 255, 255, 0.615);
    background-size: cover; 
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 20px;
    margin: 0%;
    width: 97vw;
}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbar .link{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    text-decoration: none;
}

.navbar .link a{
    text-decoration: none;
    color: rgb(27, 9, 19);
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold; 
}

.navbar a:hover{
    color: rgb(158, 84, 175);
}

.navbar .action{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.action-button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.action-button.email{
    align-items: center;
}

.action-button.login{
    background-color: rgb(205, 86, 163);
    color: rgb(96, 49, 113);
}

.main-column{
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
}
.title{
font-size:60px;
color: rgb(158, 84, 175);
margin: 0%;
}

.description{
font-size: 22px;
margin: 0px;
margin-top: 20px;
color:grey;
}

.btn-grp{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-weight: bold ;
}

.btn1 {
    padding: 15px 30px;
    border-radius: 25px;
    background-color:rgb(142, 72, 158) ;
    color: white;
    text-decoration: none;
    border: 2px solid rgb(142, 72, 158);
    
}

.btn1:hover{
    background-color: transparent;
    color: rgb(142, 72, 158);
    transition: 0.4s;
}

.btn2{
    padding: 15px 30px;
    border-radius: 25px;
    background-color: transparent;
    color: rgb(142, 72, 158);
    text-decoration: none;
    border: 2px solid rgb(142, 72, 158);
}

.btn2:hover{
    background-color: rgb(142, 72, 158);
    color: white;
    transition: 0.4s;
}

.btn-grp2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 20px;
    font-weight: bold ;

}

.btn-grp2 input[type="email"] {
    padding: 10px 20px;
    border-radius: 25px;
    background-color:white;
    padding-right: 200px;
    text-decoration: none;
    border: 1px solid white;
}

.btn4{
    padding: 10px 30px;
    border-radius: 25px;
    background-color:rgb(142, 72, 158);
    color: white;
    text-decoration: none;
    border: 2px solid rgb(142, 72, 158);
}

.btn4:hover{
    background-color: transparent;
    font-weight: bold ;
    color: rgb(142, 72, 158);
    transition: 0.4s;
}




































